<!DOCTYPE html>
<html>

<head>
  <script src="//cdn.jsdelivr.net/handlebarsjs/4.0.5/handlebars.runtime.min.js"></script>
</head>
<body>
  {{{body}}}
  <script src='/js/script.js' ></script>
  <script src='/js/regAndLog.js' ></script>
</body>
</html>